:root {
  --primary-color: hsl(344, 70%, 60%);
  --text-selection-bg-color: var(--primary-color);
  --text-selection-text-color: hsl(var(--gray-0));
}

html[data-color-theme='light'] {
  --primary-color: hsl(344, 70%, 50%);
}

*:not(input):not(textarea) {
  user-select: none;
}