@use '@epicenter-styles/mixins/_generate-color-variants.scss' as *;
// $base-lightness: 0.78;
// $base-chroma: 0.22;
// $base-hue: 19;
$base-lightness: 0.6;
$base-chroma: 0.22;
$base-hue: 19;

:root {
  @include generate-color-variants($base-lightness, $base-chroma, $base-hue);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'CallingCode-Regular';
  src: url('./fonts/390A5D_0_0.woff2') format('woff2');
}

.font-family--inter {
  font-family: 'Inter', sans-serif;
}

.font-family--calling-code {
  font-family: 'CallingCode-Regular', monospace;
}

:root {
  // --primary-color-base: hsl(from var(--primary-color-down-15-500) h calc(s - 50) l);
  --text-selection-bg-color: hsl(from var(--primary-color-base) h calc(s - 20) calc(l - 30));
  --text-selection-text-color: hsl(var(--gray-0));

  // menu
  .ep-menu {
    --ep-button-menu-item-hover-bg-color: var(--primary-color-up-5-base);
    --ep-button-menu-item-hover-border-color: var(--ep-button-menu-item-hover-bg-color);
  }
}

html[data-color-theme='light'] {
  // --primary-color: hsl(344, 70%, 50%);
  // --primary-color-base: var(--primary-color-down-5-900);
  --text-selection-bg-color: hsl(from var(--primary-color-base) h calc(s - 10) l);
}

*:not(input):not(textarea) {
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  background: var(--interface-bg);
}

body,
input,
select,
textarea {
  font-family: 'CallingCode-Regular', monospace;
}

#app {
  width: 100vw;
  height: 100vh;
}

h1,
h2 {
  color: var(--text-color--loud);
}

.ui-heading:is(h1, h2) {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

h1.ui-heading {
  font-size: 3.2rem;
}

h2.ui-heading {
  font-size: 2.4rem;
}

h3.ui-heading {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--primary-color-300);
}

html[data-color-theme='light'] h3.ui-heading {
  color: var(--primary-color-600);
}

p.ui-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.text--link {
  color: var(--primary-color-base);

  &:hover {
    color: var(--primary-color-base) !important;
    text-decoration: underline;
  }
}

:root {
  --text-color--normal: var(--text-color);
  --text-color--quiet: var(--text-color--subtle);
}

// hack the text box into submission
// need to add this to the ep-button component
.ep-button .ep-button__label {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}