@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'CallingCode-Regular';
  src: url('./fonts/390A5D_0_0.woff2') format('woff2');
}

:root {
  --primary-color: hsl(344, 100%, 78%);
  --text-selection-bg-color: hsl(from var(--primary-color) h calc(s - 20) calc(l - 30));
  --text-selection-text-color: hsl(var(--gray-0));
}

html[data-color-theme='light'] {
  --primary-color: hsl(344, 70%, 50%);
  --text-selection-bg-color: hsl(from var(--primary-color) h calc(s - 10) l);
}

*:not(input):not(textarea) {
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  background: var(--interface-surface);
}

body,
input,
select,
textarea {
  font-family: 'CallingCode-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#app {
  width: 100vw;
  height: 100vh;
}

h3.ui-heading {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--primary-color);
}

.font-family--inter {
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color--normal: var(--text-color);
  --text-color--quiet: var(--text-color--subtle);
}